# ignore everything
/*
/*/

# ... but these:
!/fcitx5/
!/zsh/
!/pip/
!/bat/
!/btop/
!/cava/
!/waybar/
!/wofi/
!/wlogout/
!/mako/
!/hypr/
!/mpd/
/mpd/log
/mpd/pid
/mpd/state
/mpd/sticker.sql
/mpd/database
!/ncmpcpp/
/ncmpcpp/error.log
/ncmpcpp/previews
!/sddm/
!/kitty/
!/joshuto/
!/starship.toml
!/fastfetch/
!/gtk-3.0/
!/Kvantum/
!/swaylock/
!/qt5ct/
!/.gitignore
!/README.md
