# ignore everything
/*
/*/

# ... but these:
!/alacritty/
!/ranger/
!/i3/
!/i3status/
!/dunst/
!/fcitx5/
!/polybar/
!/zsh/
!/rofi/
!/pip/
!/img/
!/flameshot/

!/st/
/st/st
/st/*.o

!/dwm/
/dwm/dwm
/dwm/*.o

!/.gitignore
!/.README.md
