# ignore everything
/*
/*/

# ... but these:
!/awesome/
!/picom/
!/alacritty/
!/ranger/
!/i3/
!/i3status/
!/dunst/
!/fcitx5/
!/polybar/
!/zsh/
!/rofi/
!/pip/
!/img/
!/flameshot/
!/libinput-gestures.conf
!/scripts/
!/bat/
!/btop/
!/cava/
!/waybar/
!/.gitignore
!/.README.md
